@import "ember-bootstrap/bootstrap";
$back: #f1f1f1;
$aboutme: #f1f1f1;
$pink: #f1f1f1;
$blue: #8FD6E6;
.container-item {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flex-container {
  display: flex;
}
.work-card-container {
  color: white;
}
.work-card-container:hover {
  color: white;
}
body {
  background: $back;
}
.send-button {
  background: $pink;
  color: white !important;
  border: none;
}
.send-button:hover, .send-button:active {
  background: $pink !important;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
}
h5 {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}
h2, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}
.subheading {
  color: white;
}
.page-section-heading {
  text-decoration-line: underline;
  text-decoration-color: $blue;
}

.center-container {
  text-align: center;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background:#8FD6E6 !important;

  a {
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 0;
  }
  
}
.link-text {
  color: #8FD6E6 !important;
}

.nav-item {
  transition: transform .2s;
  .active {
    transition: transform .2s;
  
  }
  // &.active {
  // background: #d75c97;
  // }
  // a:active{
  //   background: red;
  // }
}
.post-heading {
  color: $blue;
}
//gluten free header
.masthead {
  background-size: cover;background-repeat:no-repeat;background-image: url('https://i.ibb.co/3Rk64x3/Heading-final-2.png');
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.work-card {
  text-align: center;
  // background: #B5B4B4;
height: 27rem;
transition: transform .2s;
background-size: cover;
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
a {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
&.gluten {
  background-image: url('https://i.ibb.co/txPW8jQ/UX-1.png');
}
&.locate {
  background-image: url('https://i.ibb.co/LhkKLRb/locate-local.png');
}
&.unraid {
  background-image: url('https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80');
}

&.icon-library {
  background-image: url('https://i.ibb.co/jrGpRy2/icon-library.png'); 
}

}
.work-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.landing {
  h1 {
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 53px;
    color: #b6b6b6;
    letter-spacing: 23.98px;
  }
  h4 {
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #000000;
    letter-spacing: 13.07px;
    line-height: 24px;
  }
}

.about-me {
  background: $pink;
  .text-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  h1 {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75px;
    color: black;
    letter-spacing: 5px;
    text-align: left;
  }
  h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    color: black;
    letter-spacing: 2.8px;
    text-align: left;
  }
  h5 {
    font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: normal;
    color:black;
    font-size: 24px;
    line-height: 31px;
    text-align: left;
  }
}

.work {
}

// @media (min-width: 768px) {
  .landing {
    background-image: url("https://i.ibb.co/fGPyjGP/Website-heading-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(149, 193, 217, 0); // Tint color
    background-blend-mode: multiply;
    padding-top: 214px;
    padding-bottom: 200px;
    height: 43rem;
  }

  @media (max-width: 500px){
    .landing {
      height: 30rem;
    }
  }
//}
