@import "ember-bootstrap/bootstrap";
$back: #f7f0f5;
$aboutme: #b5b4b4;
$pink: #d75c97;
.flex-container {
  display: flex;
}
body {
  background: $back;
}
h3 {
  color: black;
}
h5 {
  color: black;
}
.navbar {
  float: right;
  a {
    font-family: Abel;
    font-size: 15px;
    color: #000000;
    font-family: Abel;
    font-size: 22px;
    letter-spacing: 0;
  }
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.work-card {
  margin: 1rem;
  background: #B5B4B4;
height: 402px;
transition: transform .2s;
}
.work-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.landing {
  h1 {
    text-align: center;

    font-family: Abel;
    font-size: 53px;
    color: #4a4a4a;
    letter-spacing: 23.98px;
  }
  h4 {
    text-align: center;

    font-family: Abel;
    font-size: 30px;
    color: #000000;
    letter-spacing: 13.07px;
    line-height: 24px;
  }
}

.about-me {
  background: $pink;
  .text-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  h1 {
    font-family: Abel;
    font-size: 75px;
    color: #fcfafc;
    letter-spacing: 5px;
    text-align: left;
  }
  h4 {
    font-family: Abel;
    font-size: 35px;
    color: #fcfafc;
    letter-spacing: 2.8px;
    text-align: left;
  }
  h5 {
    font-family: Abel;
font-style: normal;
font-weight: normal;
    color: #FCFAFC;
    font-size: 24px;
    line-height: 31px;
    text-align: left;
  }
}

.work {
}

@media (min-width: 768px) {
  .landing {
    background-image: url("/ellie.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(198, 3, 252, 0); // Tint color
    background-blend-mode: multiply;
    padding-top: 214px;
    padding-bottom: 200px;
    height: 45rem;
  }
}
