{{!--{{#bs-navbar class='navbar navbar-right' as |navbar|}}
<div class="navbar-header">
    {{navbar.toggle}}
</div>
{{#navbar.content}}
{{#navbar.nav as |nav|}}
{{#nav.item}}

    <ScrollContainer @linkId="about">
      <a class="nav-link js-scroll-trigger" href="#about">
         About
       </a>
      </ScrollContainer>
{{/nav.item}}
{{#nav.item}}
    <ScrollContainer @linkId="about">
      <a class="nav-link js-scroll-trigger" href="#blog">
         Blog
       </a>
      </ScrollContainer>
{{/nav.item}}
{{#nav.item}}
    <ScrollContainer @linkId="work">
      <a class="nav-link js-scroll-trigger" href="#work">
         Work
       </a>
      </ScrollContainer>
{{/nav.item}}
{{#nav.item}}
    <ScrollContainer @linkId="about">
      <a class="nav-link js-scroll-trigger" href="#contact">
         Contact
       </a>
      </ScrollContainer>
{{/nav.item}}
{{/navbar.nav}}
{{/navbar.content}}
{{/bs-navbar}} --}}
<BsNavbar class="navbar navbar-inverse navbar-fixed-top" as |navbar| >
  <div class="navbar-header ">
    <navbar.toggle />
    <a class="navbar-brand" href="#">Ellie Leftley.</a>
  </div>
  <navbar.content style="">
    <navbar.nav as |nav|>
      <nav.item>
       <ScrollContainer @linkId="about">
      <a class="nav-link js-scroll-trigger" href="#about">
         About
       </a>
      </ScrollContainer>
      </nav.item>
      <nav.item>
    <ScrollContainer @linkId="work">
      <a class="nav-link js-scroll-trigger" href="#work">
         Work
       </a>
      </ScrollContainer>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
{{outlet}}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>London, United Kingdom</h4>
            </div>
            <div class="col-md-4">
                <h4>LinkedIn</h4>
            </div>
            <div class="col-md-4">
                <h4>ellieleftley@yahoo.co.uk</h4>
            </div>
        </div>

    </div>
</section>