<BsNavbar class="navbar navbar-inverse navbar-fixed-top" as |navbar| >
  <div class="navbar-header ">
    <navbar.toggle />
    {{#link-to "index" class="navbar-brand"}}
    Ellie Leftley
    {{/link-to}}
  </div>
  <navbar.content style="">
    <navbar.nav class="ml-auto mt-2 mt-lg-0" as |nav|>
      {{#if (eq router.currentRoute.name "index")}}
      <nav.item>
       <ScrollContainer @linkId="about">
      <a class="nav-link js-scroll-trigger" href="#about">
         About
       </a>
      </ScrollContainer>
      </nav.item>
      <nav.item>
    <ScrollContainer @linkId="work">
      <a class="nav-link js-scroll-trigger" href="#work">
         Work
       </a>
      </ScrollContainer>

      </nav.item>
    {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
{{outlet}}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 style="text-align: center;">London, United Kingdom</h4>
            </div>
            <div class="col-md-4">
                <h4 style="text-align: center;"> <a style="color: #212529;"  href="https://www.linkedin.com/in/ellieleftley/" target="_blank" >LinkedIn</a></h4>
            </div>
            <div class="col-md-4">
                <h4 style="text-align: center;"> <a style="color: #212529;" href="mailto:ellieleftley@yahoo.co.uk">ellieleftley@yahoo.co.uk</a></h4>
            </div>
        </div>
<br>
    </div>
</section>