<section class="landing">
    <div class="container">
        <div class="col-md-6">
            <h2 style="font-size: 44px">Ellie Leftley</h2>
            <h3 style="font-size: 35px">Designer</h3>
            <h3 style="font-size: 35px">London, UK</h3>
        </div>

    </div>

</section>
<section class="about-me" id="about">

    <div class="text-container container">
        <Anchor @id="about"></Anchor>
        <h1>
            Hello,
        </h1>
        <h4>I’m Ellie.
            A designer based in London, UK.</h4>

        <h5>I am a driven designer who’s motivation stems from a passion for understanding users and developing
            intuitive digital user
            experiences with impactful design.</h5>
        <br>
        <h5>After spending the first few years of my career in events and marketing roles, I have developed a strong
            understanding of customer behaviours as well as being led by analytic research insights to achieve desired
            outcomes. </h5>
        <br>
        <h5>Want to know more? Let’s chat! </h5>
    </div>
</section>

{{!-- <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header> --}}
<br>
<section class="page-section portfolio" id="portfolio">
    <div>
        <Anchor @id="work" />
        <br>
        <h2 class="page-section-heading text-center text-uppercase  mb-0">Work</h2>
        <br>
        <div class="row">
            <!-- Portfolio Section Heading-->


            <br>



            <div class="col-sm col-md-6" style="">
                <div class="container" style="">
                    <div class="" style="  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
                        <h4>Simply Gluten Free</h4>
                        <p>A food app enabling individuals who follow a gluten free diet, to find food supplies, recipes
                            and restaurants with ease.</p>
                        <p>{{#link-to "simply-gluten-free" class="link-text" }}<b>Read more</b>{{/link-to}}</p>
                    </div>

                </div>

            </div>
            {{#link-to "simply-gluten-free" class="work-card-container col-md-6 col-sm" }}
            <div class="work-card gluten" style="">

                <h4 style="font-size: 43px;padding-top:10rem;"></h4>


            </div>

            {{/link-to}}

        </div>
                <div class="row">
            <!-- Portfolio Section Heading-->


            <br>

            <div class="col-sm col-md-6" style="">
                <div class="container" style="">
                    <div class="" style="  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
                        <h4>Locate Local</h4>
                        <p>A food app enabling individuals who follow a gluten free diet, to find food supplies, recipes
                            and restaurants with ease.</p>
                        <p>{{#link-to "locate-local" class="link-text" }}<b>Read more</b>{{/link-to}}</p>
                    </div>

                </div>

            </div>
            {{#link-to "locate-local" class="work-card-container col-md-6 col-sm" }}
            <div class="work-card gluten" style="">

                <h4 style="font-size: 43px;padding-top:10rem;"></h4>


            </div>

            {{/link-to}}

        </div>
        <div class="row">


            <br>



            <div class="col-sm col-md-6" style="">
                <div class="container" style="">
                    <div class="" style="  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
                        <h4>Icon Library</h4>
                        <p>A food app enabling individuals who follow a gluten free diet, to find food supplies, recipes
                            and restaurants with ease.</p>
                        <p>{{#link-to "icon-library" class="link-text" }}<b>Read more</b>{{/link-to}}</p>
                    </div>

                </div>

            </div>
            {{#link-to "icon-library" class="work-card-container col-md-6 col-sm" }}
            <div class="work-card gluten" style="">

                <h4 style="font-size: 43px;padding-top:10rem;"></h4>


            </div>

            {{/link-to}}

        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->
            <br><br>

        </div>
    </div>
</section>

{{!-- <section class="page-section portfolio about-me">
    <br><br><br><br>


</section> --}}
<!--Section: Contact v.2-->
<!--Section: Contact v.2-->

{{!-- <section class="work">
    <section class="blog">
        <div class="text-container container">
            <h1>
                Work
            </h1>

        </div>

    </section>

</section>

<section class="blog">
    <div class="text-container container">
        <h1>
            Blog
        </h1>

    </div>

</section> --}}

{{!-- <section class="contact">
    <div class="text-container container">
        <h1>
            Contact
        </h1>
        <div class="row">

        </div>
    </div>

</section> --}}