<section class="landing">
    <div class="container">
        <div class="col-md-6">
            <h3>Ellie Leftley.</h3>
            <h5>UX Designer</h5>
            <h5>London, UK</h5>
        </div>

    </div>

</section>
<section class="about-me" id="about">
  
    <div class="text-container container">
                <Anchor @id="about"></Anchor>
        <h1>
            Hello,
        </h1>
        <h4>I’m Ellie.
            A UX designer based in London, UK.</h4>

        <h5>I am a driven UX designer who’s motivation stems from a passion for creating intuitive digital user
            experiences with impactful design.</h5>
        <br>
        <h5>After spending the first few years of my career in events and marketing roles, I have developed a strong
            understanding of customer behaviours as well as being led by analytic research insights to achieve desired
            outcomes. </h5>
        <br>
        <h5>Want to know more? Let’s chat! (Link to contact me) </h5>
    </div>
</section>

{{!-- <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </header> --}}
<section class="page-section portfolio" id="portfolio">
<div class="container">
         <Anchor @id="work" />
        <br>
      <h2 class="page-section-heading text-center text-uppercase  mb-0">Work</h2>
      <br>
    <div class="row">
        <!-- Portfolio Section Heading-->

      
        <br>
           
  <div class="work-card col-sm gluten" style="">
         {{#link-to "simply-gluten-free"}} 
      <h4 style="font-size: 43px;">Simply Gluten Free</h4>
       {{/link-to}}
      
      </div>
     
  <div class="work-card col-sm"><h4 style="font-size: 43px;">Chase.Livestream</h4></div>
  <div class="work-card col-sm"><h4 style="font-size: 43px;">Unraid Network</h4></div>
</div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            <!-- Portfolio Item 1-->

       
    </div>
    </div>
</section>
<section class="work">
    {{!-- <div class="text-container container">
    <h1>
        Hello,
    </h1>
<h4>I am a newly developing passioante UX designer. </h4>

<h5>After spending early years of my career in professional services sector, my passion for design has inspired me to explore UX and UI………..</h5>

</div> --}}

</section>

{{!-- <section class="work">
    <section class="blog">
        <div class="text-container container">
            <h1>
                Work
            </h1>

        </div>

    </section>

</section>

<section class="blog">
    <div class="text-container container">
        <h1>
            Blog
        </h1>

    </div>

</section> --}}

{{!-- <section class="contact">
    <div class="text-container container">
        <h1>
            Contact
        </h1>
    <div class="row">
        
    </div>
    </div>

</section> --}}