<div class="masthead" style="">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Locate Local</h1>
            <h6>Personal project | 2021</h6>
            {{!-- <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on January 31, 2020 · <span class="reading-time" title="Estimated read time">
  
   4 mins  read </span>

            </span> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <br>
        <h4><b>The challenge</b></h4>
        <p>Throughout the global pandemic, there has been continued encouragement to support local businesses. Over the last year, I have also been looking to shop local however, when searching for businesses which could serve my needs, I found a few issues: </p>
        <ul>
          <li>Information is spread across different platforms (e.g. online directories, local social media pages)</li>
          <li>Business directories often only have contact information and do not show much business information or product images</li>
        </ul>
        <p>I decided to explore whether these were common issues that others experienced and if so, how I could potentially solve these issues.</p>
        <hr>
        <h4><b>Research</b></h4>
        <h5>Desktop research</h5>
        <p>I began my desktop research by reviewing a variety of sources where business local to my area promote their products and services. This included business directories, local community webpages and local social media groups.</p>
<p>When reviewing these online platforms my aim was to explore how easily and efficiently I could find particular business. I gave myself a number of services and products to search for locally. I used the below questions to guide this research:</p>
<ol>
  <li>Can I firstly find the product and/or service that I’m looking for?</li>
  <li>Am I able view images of the product and/or service on that platform?</li>
  <li>How easily can I navigate to find the product/service? What errors am I making?</li>
</ol>
        <h5>Interviews</h5>
        <p>Alongside my desktop research, I interviewed both local community members as well as local business owners. Throughout my interviews, my aim was to explore if they too experienced the same challenges when finding/promoting locals businesses online, and if so, did they have similar pain points to the ones I myself found. </p>
        <p>Some of the questions I asked included:</p>
        <table style="width:100%">
  <tr>
    <th>Community members</th>
    <th>Local business oweners</th> 
  </tr>
  <tr>
    <td> - How do you find out about local businesses? </td>
    <td> - How do you promote your business online?</td>
  </tr>
  <tr>
    <td> - Do you find any challenges when searching for local businesses online? If yes, please can you describe these challenges. </td>
    <td> - With the methods you use to promote your business online, what are some of the positive aspects and what are some of the challenges? </td>
  </tr>
</table>
<p></p>
<h5>Results</h5>
<p>From the results of my desktop research and interviews with local community members and business owners, I was able to identify the commonly used online platforms used by both to search and promote online businesses. These included social media pages, online business directories, business websites and local community webpages.</p>
<p>The interviews provided valuable information on the benefits and drawbacks of these platforms from the audiences perspectives. To to help make sense of my interview findings, I grouped common findings through the tool of an affinity map. </p>   
<iframe width="768" height="432" src="https://miro.com/app/live-embed/o9J_lVBoczw=/?moveToViewport=-1388,-415,3682,2074" frameBorder="0" scrolling="no" allowFullScreen></iframe>
   <h5>Critical problems identified</h5>
   <ol>
  <li>Difficultly in finding information on local business through online sources as product and service information is inconsistent over a variety of sources</li>
  <li>Commonly used platforms identified did had varied rates of conversions to purchase</li>
</ol>
<hr>
<h4><b>Problem solving through design</b></h4>
<h5>Personas</h5>
<p>Before moving on the ideation phase to develop a solution, I created audience personas based on my research. This allowed me to identify common behaviours, goals, expectations and problems. This ultimately informs me who I will be designing for.</p>
<p>
<div class="center-container">
  <img src="https://i.ibb.co/nP6sKX8/4.png" alt="Persona 1" style="width:200px;height:200px;">
  <img src="https://i.ibb.co/HHFsNc1/5.png" alt="Persona 2" style="width:200px;height:200px;">
</div>
</p>
<h5>Ideation</h5>
<p>Based on the needs and goals of my users, I created a user flow. The user flow helped me to identify what information would be need to be presented or interacted with by the user at each stage of the user journey.</p> 
<p>At an early stage of creating a user flow map, I was able to determine that the best solution for the critical problems identified would be a web based solution. This was due to the reasons that it would match with user expectations to ‘search online’.</p>
<p>I experimented with different user flows to produce one which would be most effective to complete the user’s task. Throughout the iterative process, I tested different flows with users to identify the one which would allow the completion of the task most effectively and efficiently. I did this through showing users high-fidelity designs which I created in Figma. Creating a high-fidelity design at this stage, allowed me to gain richer insights into the errors users were making in the different flows. This was essential to help develop red routes and thus identifying the optimum user flow.</p>
<iframe width="768" height="432" src="https://miro.com/app/live-embed/o9J_lVR58M0=/?moveToViewport=-1031,-288,4439,2500" frameBorder="0" scrolling="no" allowFullScreen></iframe>
<hr>
        <h4><b>The outcome</b></h4>
<h5>Final design</h5>
  <div class="center-container">
    <p>
    <img src="assets/images/final 1.png" alt="App 1" style="width:175px;height:325px;"> 
    <img src="assets/images/final 2.png" alt="App 2" style="width:175px;height:325px;"> 
    <img src="assets/images/final 3.png" alt="App 3" style="width:175px;height:325px;"> </p>
    <p><img src="assets/images/final 4.png" alt="App 4" style="width:175px;height:325px;"> 
    <img src="assets/images/final 5.png" alt="App 5" style="width:175px;height:325px;"> 
    <img src="assets/images/final 6.png" alt="App 6" style="width:175px;height:325px;"> </p>
    <p><img src="assets/images/final 7.png" alt="App 7" style="width:175px;height:325px;"> 
    <img src="assets/images/final 8.png" alt="App 8" style="width:175px;height:325px;"> 
    <img src="assets/images/final 9.png" alt="App 9" style="width:175px;height:325px;"> 
  </p>
</div>

<h5>Reflection</h5>
<p>Creating one single source of information on an application platform, where users are able to find gluten free restaurants, food items and recipes with ease, solves the critical key problems faced by users. </p> 
<p>However, developing this solution challenged me to ensure my visual design was one which users could bring previous knowledge and memory to. This ultimately helps prevent the occurrences of user errors.</p> 
<p>To further develop this design, I would like to encompass purchasing functions within the app. This would allow users to add items to a basket and purchase directly from the stores. Additionally, I believe it would be valuable to add a meal planner function, linking to purchasing the food items allowing users to complete all desired tasks in one place.</p>



        <div class="clearfix">

  

        </div>

      </div>
    </div>
  </div>