<div class="masthead" style="">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Simply Gluten Free App</h1>
            
            <h2 class="subheading">Gluten free app.</h2>
            {{!-- <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on January 31, 2020 · <span class="reading-time" title="Estimated read time">
  
   4 mins  read </span>

            </span> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <br>
        <h4>Problems to solve</h4>
        <p>As someone who has a Gluten free restricted diet, I often faced problems of finding new gluten free food products, recipes and restaurants. Therefore, I design an app which could solve these problems: </p>
        <ol>
          <li>Discovery of new Gluten Free food products</li>
          <li>Gluten Free recipes </li>
          <li>Gluten Free restaurants</li>
        </ol> 
        <hr>
        <h4>Research</h4>
        <h5>Market Research</h5>
        <p>I carried out some desktop research to discover whether there was any apps currently available on the market, which were similar to the one I intended to make. Through searching app stores and websites, I discovered an app ‘Find me Gluten Free’ which has been developed for users to find gluten free friendly restaurants. I also researched broader terms including ‘food apps’, ‘recipe apps’ and ‘restaurant finder apps’ which allowed me to discover a vast range of apps designed to solve similar problems.</p>
        <p>With each of the apps I discovered, I downloaded, tested a read reviews to build my knowledge of the aims and pain points of users.</p>
        <p>Apps I reviewed included: </p>
        <ul>
          <li>Vegan Maps</li>
          <li>Simple Vegan: Recipes and Guides</li>
          <li>Meals - Healthy meal planner</li>
        </ul>
        <h5>Persona Research</h5>
        <p>I carried out qualitative research, in the form of interviews, on individuals who follow a Gluten Free diet. These interviews allowed me to identify the needs and motivations of users and to determine key features for the design.
Some of the questions used in the interviews included:</p>
<ul>
  <li>What are your reasons for following a Gluten Free diet?</li>
  <li>What do you enjoy most about following a Gluten Free diet? </li>
  <li>What do you find most difficult about following a Gluten Free diet? </li>
</ul>
<p>From the results of my interview, I was able to identify patterns and thus develop the key personas. </p>
<hr>
<h5>The design process</h5>
<p>Through identifying the needs and motivations of users, I began the design process. I initially sketched out the user journey through defining; user, task and goal.</p>
<p>I created a paper prototype to test my initial design. I asked test users, to carry out different tasks and observed as they completed them.</p>
<p>From the results of my paper prototypes I found users beginning to become confused by the amount of features I was looking to incorporate, including purchasing items through the app. Therefore, I stripped the app back and focused purely on the key problems I had hoped to solve. When testing the re-developed user flow, I observed users experienced less frustration in completing the tasks and therefore higher satisfaction.  </p>
<p>Now I had the user flow complete, I began to create high fidelity wire frames to help begin to build the final design.</p>
<p>I looked to the market for visual references, for example the identifiable gluten free symbol, which would influence my design. These elements are important within the design and should not be overlooked as the gluten free symbol for example, is recognised by all gluten free diet followers and based on their knowledge and experience of the world, would allow them to begin to understand the function of the app just through visual cues.</p>
<hr>
<h5>Reflection</h5>
{{!-- 
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FA5vypwwtG1wpd9YogtMvrn%2FSimply-Gluten-Free%3Fnode-id%3D91%253A0&chrome=DOCUMENTATION" allowfullscreen></iframe> --}}
{{!-- <h2 class="section-heading">Reaching for the Stars</h2> --}}

{{!-- <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FA5vypwwtG1wpd9YogtMvrn%2FSimply-Gluten-Free%3Fnode-id%3D91%253A0&chrome=DOCUMENTATION" allowfullscreen></iframe> --}}
{{!-- <img class="img-fluid" src="https://source.unsplash.com/Mn9Fa_wQH-M/800x450" alt="Demo Image"> --}}
{{!-- <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
           --}}
           {{#link-to "index"}} Back to homepage {{/link-to}}  
        <hr>

        <div class="clearfix">

  

        </div>

      </div>
    </div>
  </div>