<div class="masthead" style="">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Simply Gluten Free</h1>
            <h6>2020</h6>
            {{!-- <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on January 31, 2020 · <span class="reading-time" title="Estimated read time">
  
   4 mins  read </span>

            </span> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <br>
        <h4><b>The problem</b></h4>
        <p>As someone who has a Gluten free restricted diet, I often found myself searching through magazines, blogs and online stores to find places to eat out, to shop and to discover new home recipes. This proved to be time consuming and often results with limited success.</p> 
<p>Therefore, I decided to investigate whether this was a common issue and if so, whether I could develop a potential solution.</p>
        <hr>
        <h4><b>Research</b></h4>
        <h5>Desktop research</h5>
        <p>I began my investigation by carrying out desktop research. I initially explored gluten free recipe books as well as magazines. Later, I searched through app stores such as IOS app store and Android app store. Websites with terms including ‘Gluten Free’, ‘food apps’, ‘recipe apps’ and ‘restaurant finder apps’. 
At each stage of this research, I was able to build knowledge of the content the various sources were publishing as well as building familiarity with the phases and imagery used. 
With each source of information, I read reviews to further understand the aims of readers and users and also to discover where perhaps it did not meet their expectations. 
</p>
        <p>Apps I reviewed included: </p>
        <ul>
          <li>Gluten free heaven</li>
          <li>How to be Gluten free and keep your friends </li>
          <li>Simple Vegan: Recipes and Guides</li>
          <li>Find Me Gluten Free</li>
          <li>Meals - Healthy meal planner</li>
        </ul>
        <div class="center-container">
        <img src="/appscreenshotone.png" alt="App screenshotone" style="width:300px;height:300px;">
        <img src="/applescreenshottwo.png" alt="App screenshottwo" style="width:300px;height:300px;">
        </div>

        <h5>Interviews</h5>
        <p>Following the desktop research, I carried out qualitative research, in the form of interviews, on individuals who follow a Gluten Free diet. These interviews allowed me to identify the needs of those who follow a gluten free diet as well as some of their problems.
        </p>
        <p>Some of the questions used in the interviews included:</p>
        <ol>
  <li>What are your reasons for following a Gluten Free diet?</li>
  <li>What do you enjoy most about following a Gluten Free diet? </li>
  <li>What do you find most difficult about following a Gluten Free diet?</li>
</ol>
<h5>Analysing results</h5>
<p>To help make sense of my findings, I grouped common problems through the tool of an affinity map. 
From this exercise, I was able to identify two key problems which had the greatest impact on the majority of those who I interviewed. The critical problems I identified are:</p>
   <ol>
  <li><b>It takes too long to find information</b> - the majority of interviewees mentioned that they found it time consuming searching across various platforms to find gluten free recipes, products and restaurants </li>
  <li><b>There are many varied sources of information to navigate</b> - much of the information from a particular source, was often specialised in one area. For example most books and magazines focused on home cooking recipes but paid little attention in describing where to source ingredients. </li>
</ol>
<p>
<div class="center-container">
  <img src="/IMG_3911.jpg" alt="Affinity diagram 1" class="center" style="width:275px;height:200px;">
  <img src="/IMG_3910.jpg" alt="Affinity diagram 2" class="center" style="width:275px;height:200px;">
</div>
</p>
<h5>Personas</h5>
<p>Before moving on the design phase, I created audience personas based on my interviews. This allowed me to identify common behaviours, goals, expectations and problems. This ultimately informs me who I will be designing for.</p>
<p>
<div class="center-container">
  <img src="/1.png" alt="Persona 1" style="width:200px;height:200px;">
  <img src="/2.png" alt="Persona 2" style="width:200px;height:200px;">
  <img src="/3.png" alt="Persona 3" style="width:200px;height:200px;">
</div>
</p>
<h5>Problem solving through design</h5>
<p>Based on the needs and goals of my audience, I decided to created an app which would be a single source of information on gluten free food products, recipes and restaurants. Creating this on an application platform will allow users to access information, easily, quickly and whilst on the move - something which would contribute to solving a key problem; the time take it takes to access information.</p>
<p>Following this decision, I sketched out the user journey through defining; user, task and goal.</p>
<p>
  <div class="center-container">
    <img src="/6 2.png" alt="User flow 1" style="width:275px;height:200px;">
    <img src="/7.png" alt="User flow 2" style="width:250px;height:235px;"> 
  </div>
</p>
<p>I experimented with different designs and flows, receiving feedback throughout. Through A/B testing on two separate flows, I was able to identify which flow allowed users to achieve their goals most effectively and efficiently. I continued to iterate on my design discussing with potential users demonstrating the red routes of the application and got the users to carry out different user flows.  I then created a high fidelity design using Figma.</p>
<p>To create branding for the app I looked to the market for visual references, for example the identifiable gluten free symbol, which would influence my design. These elements are important within the design and should not be overlooked as the gluten free symbol for example, is recognised by all gluten free diet followers and based on their knowledge and experience of the world, would allow them to begin to understand the function of the app just through visual cues.</p>
<hr>
        <h4><b>The outcome</b></h4>
<h5>Final design</h5>
  <div class="center-container">
    <p>
    <img src="/final 1.png" alt="App 1" style="width:175px;height:325px;"> 
    <img src="/final 2.png" alt="App 2" style="width:175px;height:325px;"> 
    <img src="/final 3.png" alt="App 3" style="width:175px;height:325px;"> </p>
    <p><img src="final 4.png" alt="App 4" style="width:175px;height:325px;"> 
    <img src="/final 5.png" alt="App 5" style="width:175px;height:325px;"> 
    <img src="/final 6.png" alt="App 6" style="width:175px;height:325px;"> </p>
    <p><img src="/final 7.png" alt="App 7" style="width:175px;height:325px;"> 
    <img src="/final 8.png" alt="App 8" style="width:175px;height:325px;"> 
    <img src="/final 9.png" alt="App 9" style="width:175px;height:325px;"> 
  </p>
</div>

<h5>Reflection</h5>
<p>This app solves the main problems that users reported through a simple and effective design.</p> 
<p>Creating one single source of information, where users are able to find gluten free restaurants, food items and recipes solves the key problem of many sources of information to navigate. Creating this on an application platform allows for a reduction in the time taken to find the information, thus solving the second the critical problem for users.</p> 
<p>To further develop this design, I would like to encompass purchasing functions allowing users to create a basket and purchase food items directly from the app. Additionally, I believe it would be valuable to add a meal planner function, linking to purchasing the food items allowing users to complete all desired tasks in one place - ensuring an effective user experience. </p>



        <div class="clearfix">

  

        </div>

      </div>
    </div>
  </div>